<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.OauthApprovalsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.user.domain.OauthApprovals">
        <result column="userId" property="userid" />
        <result column="clientId" property="clientid" />
        <result column="scope" property="scope" />
        <result column="status" property="status" />
        <result column="expiresAt" property="expiresat" />
        <result column="lastModifiedAt" property="lastmodifiedat" />
        <result column="realm_id" property="realmId" />
    </resultMap>

</mapper>
