<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.user.domain.SysMenu">
        <id column="id" property="id" />
        <result column="realm_id" property="realmId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="url" property="url" />
        <result column="target" property="target" />
        <result column="menu_type" property="menuType" />
        <result column="visible" property="visible" />
        <result column="perms" property="perms" />
        <result column="icon" property="icon" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="is_del" property="isDel" />
    </resultMap>
    <resultMap id="ResultTreeMap" type="com.user.dto.resp.MenuTree">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="url" property="url" />
        <result column="target" property="target" />
        <result column="menu_type" property="menuType" />
        <result column="visible" property="visible" />
        <result column="perms" property="perms" />
        <result column="icon" property="icon" />
        <result column="remark" property="remark" />
    </resultMap>
    <resultMap id="ResultVoMap" type="com.user.dto.resp.MenuVo">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="url" property="url" />
        <result column="target" property="target" />
        <result column="menu_type" property="menuType" />
        <result column="visible" property="visible" />
        <result column="perms" property="perms" />
        <result column="icon" property="icon" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="getMenus" resultMap="ResultTreeMap">
        select m.* from sys_menu  m
        <where>
            is_del = 0
        </where>
        order by order_num
    </select>

    <select id="getMenuById" resultMap="ResultVoMap">
        select m.* from sys_menu  m
        <where>
                m.id =#{id}
        </where>
    </select>

    <select id="getMenuByParentId" resultMap="ResultVoMap">
        select m.* from sys_menu  m
        <where>
            m.parent_id =#{id}
        </where>
    </select>

    <select id="getRoleMenus" resultMap="ResultTreeMap">
        select m.* from sys_menu  m
        inner join  sys_role_menu rm on m.id = rm.menu_id
        inner join  sys_role r on r.role_id = rm.role_id
        <where>
            is_del = 0 and  r.is_admin = 1 and r.realm_id = #{realmId}
        </where>
        order by order_num
    </select>

    <select id="getRoleMenusByUser" resultMap="ResultTreeMap">
        select distinct m.* from sys_menu  m
        left join  sys_role_menu rm on m.id = rm.menu_id
        left join  sys_role r on r.role_id = rm.role_id
        <where>
            m.is_del = 0
            <if test="realmId !=null">
            and r.realm_id = #{realmId}
            </if>
            <if test="roleIds !=null and roleIds.size>0">
                <foreach collection="roleIds" item="item" open="and r.role_id   in(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
        </where>
        order by order_num
    </select>

    <select id="getInitMenus" resultMap="ResultTreeMap">
        select DISTINCT m.* from sys_menu  m
        inner join  sys_role_menu rm on m.id = rm.menu_id
        inner join  sys_role r on r.role_id = rm.role_id

        <where>
            and m.is_del = 0
            and   r.realm_id = #{realmId}
            and r.is_admin = 1
        </where>
        order by m.order_num

    </select>
</mapper>
