<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.user.domain.SysRole">
        <id column="role_id" property="roleId" />
        <result column="realm_id" property="realmId" />
        <result column="role_name" property="roleName" />
        <result column="role_key" property="roleKey" />
        <result column="role_sort" property="roleSort" />
        <result column="data_scope" property="dataScope" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="is_del" property="isDel" />
        <result column="is_admin" property="isAdmin" />
    </resultMap>
    <!-- 通用查询映射结果 -->
    <resultMap id="ResultVoMap" type="com.user.dto.resp.RoleVo">
        <id column="role_id" property="roleId" />
        <result column="realm_id" property="realmId" />
        <result column="role_name" property="roleName" />
        <result column="role_key" property="roleKey" />
        <result column="role_sort" property="roleSort" />
        <result column="data_scope" property="dataScope" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="is_admin" property="isAdmin" />
    </resultMap>
    <select id="getRoles" resultMap="ResultVoMap">
        select r.* from sys_role r WHERE r.is_del =  0
        <if test="req.realmId !=null and req.realmId!=''">
            and r.realm_id = #{req.realmId}
        </if>
        <if test="req.roleName !=null and req.roleName!=''">
            and r.role_name  like concat('%', #{req.roleName},'%')
        </if>
        ORDER BY r.realm_id ,r.role_sort

    </select>

    <select id="selectByAdmin" resultMap="BaseResultMap">
        select r.* from sys_role r WHERE r.is_del =  0
            and r.realm_id = #{realmId}
            and r.is_admin =#{isAdmin}
        limit 1
    </select>
</mapper>
